@use "../abstracts" as *;

// Navigation Bar

.logo {
  height: 4em;
  width: auto;
  display: inline-flex;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.nav-bar-links {
  display: none;

  @media (min-width: 50rem) {
    padding: 0 0.8em;
    display: flex;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    li {
      font-weight: $font-weight-bold;
      font-size: 1.5rem;
      display: inline;
      padding: 0 1em;

      a {
        color: inherit;
      }
    }
  }
}

.icon-toggle {
  all: unset;
  width: 2.5rem;
  padding: 0 0.8em;

  svg {
    height: 100%;
    width: 100%;
  }

  &.menu-toggle {
    @media (min-width: 50rem) {
      display: none;
    }
  }

  &.theme-toggle {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg:hover {
      cursor: pointer;
      transition: transform 400ms ease;
      transform: rotate(1turn);
    }
  }
}

// Navigation Menu

.nav-menu {
  display: none;
  z-index: 99;

  &.open {
    display: flex;
    position: fixed;
    bottom: 0;
    top: 0;
    padding-top: 4em;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);

    ul {
      list-style-type: none;
      padding: 0;

      li {
        font-weight: $font-weight-bold;
        font-size: 1.5rem;
        padding: 1em;
        display: flex;
        justify-content: center;

        a {
          color: inherit;
        }
      }
    }

    @media (min-width: 50rem) {
      display: none;
    }
  }
}
