@use "../abstracts" as *;

.about-page {
  @include wide-content;

  padding-bottom: 1em;
  @media screen and (max-width: 75rem) {
    padding-bottom: 1em;
  }

  .toc {
    display: none;
  }

  .about-snippet {
    @include retheme;
    // colors are set in the component
    height: 100%;
    width: 100%;
    padding: 1.5em;
    overflow-y: hidden;

    h2 {
      margin: 0;
      margin-top: 0.4em;
      font-weight: $font-weight-bold;
    }

    h3 {
      margin: 0;
      margin-top: 0.3em;
      font-weight: $font-weight-bold;
    }

    a {
      display: contents;
    }

    .about-snippet-icon {
      max-width: max(60%, 12em);
      max-height: 4em;
      width: auto;
      height: auto;
      pointer-events: visible;
    }
  }

  .about-hero {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;

    min-height: 60vh;
    margin-bottom: 2em;

    .about-text {
      vertical-align: middle;
    }

    .about-portrait {
      display: none;
    }

    @media (min-width: 50rem) {
      margin: 0 10em;
      margin-bottom: 2em;
    }

    @media (min-width: 60rem) {
      .about-text {
        max-width: 50%;
      }
      .about-portrait {
        display: block;
        max-width: 28%;
        filter: 
          drop-shadow(-8px 0px 2px var(--img-bg-color))
          drop-shadow(8px 0px 2px var(--img-bg-color)) 
          drop-shadow(0px 8px 2px var(--img-bg-color))
          drop-shadow(0px -8px 2px var(--img-bg-color));
      }
    }
  }
}
