@use "../abstracts" as *;

.error-page {
  @include article-content;

  text-align: center;
  height: 100vh;

  h1 {
    margin-bottom: .3em;
  }

  .error-number {
    font-size: 10rem;
    font-family: $font-black;
    color: var(--dark-highlight);

    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }

  .error-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    // flex-direction: row;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // gap: 1em;
  }
}
