@use "../abstracts" as *;

.recipe-page {
  @include article-shifted-content;

  strong,
  b {
    color: var(--secondary-text-color);
  }

  .toc {
    display: none;
  }

  .recipe-pin-right {
    @include pin-right;

    display: flex;
    flex-direction: column;

    .recipe-info {
      strong,
      b {
        color: inherit;
      }
      display: flex;
    }
  }

  // Ingredients
  .ingredients {
    table {
      width: 100%;
      margin: 1em 0;

      td:first-child {
        padding: 0.3em 0.5em;
        padding-left: 0;
      }
    }
  }

  // Instructions
  .instructions {
    ol {
      width: 100%;
      margin: 1.5em 0;
      li {
        padding-left: 0.5em;
        margin: 0.5em 0;
      }
    }
  }
}
