@mixin make-theme($map: ()) {
  @each $key, $value in $map {
    --#{$key}: #{$value};
  }
}

@mixin retheme {
  color: var(--text-color);
  background: var(--bg-color);
  a {
    color: var(--link-color);
  }
  h1,
  h2,
  h3,
  h4 {
    a {
      color: inherit;
    }
  }
  hr {
    border-color: var(--secondary-text-color);
  }
}

@mixin pin-right {
  position: sticky;
  top: 9rem;
  float: right;
  max-width: 20rem;
  max-height: calc(100vh - 10rem);
  overflow-y: auto;

  @media screen and (max-width: 75rem) {
    display: none;
    /* FIXME: properly display the TOC & pinned on mobile */
  }
}

@mixin article-content {
  max-width: 38rem;
  margin: 5rem auto;
  @media screen and (max-width: 75rem) {
    margin: 0 auto;
    padding: 1.5rem;
  }
}

@mixin article-shifted-content {
  max-width: 80rem;
  margin: 5rem 5rem;
  margin-left: 15rem;
  @media screen and (max-width: 75rem) {
    max-width: 38rem;
    margin: 0 auto;
    padding: 1.5rem;
  }
  > * {
    max-width: 38rem;
  }
}

@mixin wide-content {
  max-width: 80rem;
  margin: auto;
  @media screen and (max-width: 75rem) {
    margin: 0 1em;
    padding: 0em;
  }
}
