$font-satoshi: var(--font-satoshi), sans-serif;
$font-mono: var(--font-mono), Consolas, Menlo, monospace;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$code-highlight-border-radius: 0.2rem;
$border-radius: 0.5rem;
$max-width: 38rem;
