@use "../abstracts" as *;

//*** Code ***

code {
  font-size: 0.9em;
  font-family: $font-mono;
  padding: 0em 0.3em 0.06em 0.3em;
  border-radius: $border-radius;
  word-wrap: break-word;
  strong {
    font-weight: $font-weight-regular;
  }
}

pre {
  overflow-x: auto;
  scrollbar-width: none;
  padding: 0.8rem 1rem;
  border-radius: $border-radius;
  break-inside: avoid;

  code {
    text-align: left;
    white-space: pre !important;
    background: none !important;
    padding: 0 !important;

    // Line Numbers
    &[data-line-numbers] {
      counter-reset: line;
      [data-line]::before {
        counter-increment: line;
        content: counter(line);
        display: inline-block;
        margin-right: 1em;
        width: 1rem;
      }

      &[data-line-numbers-max-digits="2"] > [data-line]::before {
        width: 2rem;
        text-align: right;
      }

      &[data-line-numbers-max-digits="3"] > [data-line]::before {
        width: 3rem;
        text-align: right;
      }
    }

    span[data-highlighted-line],
    [data-highlighted-line] span {
      background-color: var(--code-highlight-line-bg);
    }

    [data-highlighted-chars],
    [data-highlighted-chars] span {
      border-radius: $code-highlight-border-radius;
      background-color: var(--code-highlight-bg);
      color: var(--code-highlight-text);
    }

    // possibility to highlight in id specified colors
    // [data-chars-id],
    // [data-chars-id] span {

    // }
  }
}

// Code Block Title
[data-rehype-pretty-code-title] {
  font-size: 1rem;
  color: var(--secondary-text-color);
  padding: 0.2em 0.5em;
}

// Code Block Caption
[data-rehype-pretty-code-caption] {
  font-size: 1rem;
  color: var(--secondary-text-color);
  padding: 0.2em 0.5em;
  text-align: right;
}

// Highlight
.light-theme {
  code[data-theme*=" "],
  code[data-theme*=" "] span,
  pre[data-theme*=" "] {
    color: var(--shiki-light);
    background-color: var(--pre-bg-color);
    // background-color: var(--shiki-light-bg);
  }
}

.dark-theme {
  code[data-theme*=" "],
  code[data-theme*=" "] span,
  pre[data-theme*=" "] {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
