@use "../abstracts" as *;

// Collapsible details
details {
  background-color: var(--collapsible-bg);
  border-radius: $border-radius;
  margin: 1em 0;

  summary {
    background-color: var(--collapsible-summary-bg);
    border-radius: $border-radius;
    cursor: pointer;
    font-weight: $font-weight-bold;
    font-size: 0.9rem;

    text-transform: uppercase;
    padding: 1em;

    span {
      padding-left: 0.5em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: 0.5em;
      display: inline;
      font-weight: $font-weight-bold;
      font-size: 0.9rem;
      .subheading-anchor {
        pointer-events: none;
        cursor: default;
      }
    }
  }

  &[open] summary {
    border-radius: $border-radius $border-radius 0 0;
  }

  article,
  .details-content {
    padding: 0em 1em 0.5em;
  }
}
