@use "../abstracts" as *;

.tag-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.2rem;

  .selected-tag {
    background-color: var(--collapsible-summary-bg);
    border-color: var(--secondary-text-color);
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  cursor: pointer;
  font-family: $font-bold;
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.15em 0.6em;
  border: 1.6px solid transparent;
  border-radius: 0.7em;
  background-color: var(--collapsible-bg);
  color: inherit;

  &:hover {
    background-color: var(--collapsible-summary-bg);
  }
}
