@use "../abstracts" as *;

//*** Section Sign ***

:is(h2, h3, h4) a {
  &::before {
    content: "§";
    display: inline-block;
    margin-left: -0.8em;
    width: 0.8em;
    color: var(--section-sign-color);
    visibility: hidden;
  }

  &:hover::before {
    visibility: visible;
  }
}

//*** Table of Contents ***

.toc {
  @include pin-right;

  padding: 0.5rem 1.5rem;
  border-left: 1px solid var(--border-color);
  font-size: 1rem;
  color: var(--secondary-text-color);
  font-family: $font-medium;

  &::before {
    content: "On this page";
    display: inline;
    font-family: $font-medium;
    font-size: 1.2rem;
    color: var(--toc-title);
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .toc-item {
    padding: .6em 0 .2em 0;
  }
  .toc-level {
    list-style: none;
    padding-left: 1.5rem;
    font-size: 0.9em;
  }

  .toc-level-1 {
    padding: 0;
    margin: 0;
  }
}
