@use "../abstracts" as *;

//*** Section Sign ***

:is(h2, h3, h4) a {
  &::before {
    content: "§";
    display: inline-block;
    margin-left: -0.8em;
    width: 0.8em;
    color: var(--section-sign-color);
    visibility: hidden;
  }

  &:hover::before {
    visibility: visible;
  }
}

//*** Table of Contents ***

.toc {
  display: none;
  padding: 0rem 1.5rem;

  @media screen and (min-width: 75rem) {
    display: block;
    @include pin-right;

    padding: 0.5rem 1.5rem;

    &::before {
      content: "On this page";
      display: inline;
      font-family: $font-medium;
      font-size: 1.2rem;
      color: var(--toc-title);
    }
  }

  border-left: 1px solid var(--border-color);
  font-size: 1rem;
  color: var(--secondary-text-color);
  font-family: $font-medium;

  a {
    color: inherit;
    text-decoration: none;
  }

  .toc-item {
    padding: 0.6em 0 0.2em 0;
  }
  .toc-level {
    list-style: none;
    padding-left: 1.5rem;
    font-size: 0.9em;
  }

  .toc-level-1 {
    padding: 0;
    margin: 0;
  }
}

#toc-toggle:checked ~ .toc {
  display: block;
}

#toc-toggle {
  display: none;
}

.toc-label {
  display: block;
  font-family: $font-medium;
  font-size: 1rem;
  color: var(--secondary-text-color);

  padding: 0.5em 0;

  display: list-item;
  list-style-type: disclosure-closed;
  margin-left: 1.2em;

  span {
    padding-left: 0.5em;
  }

  @media screen and (min-width: 75rem) {
    display: none;
  }
}

#toc-toggle:checked ~ .toc-label {
  list-style-type: disclosure-open;
}
