@use "../abstracts" as *;

// Overall Theme
:root {
  --highlight: #39acff;
  --dark-highlight: #036fbd;

  // For transparent backgrounds
  --img-bg-color: #fefefe;

  --border-color: #ccc;

  --section-sign-color: #767684;
  --last-updated-color: #999;

  // Used to overwrite the default bg color of code blocks in light theme
  // in order to contrast with the bg color of the page.
  --pre-bg-color: #f6f8fa;
}

// *** Light Theme ***
.light-theme {
  @include make-theme($light-theme-map);
}

// *** Dark Theme ***
.dark-theme {
  @include make-theme($dark-theme-map);
}
