#refs {
    font-size: 0.7em;
}


figcaption {
    font-size: 0.8em;
}

.dfn-alternatives {
    font-size: 0.8em;
}

.katex {
    font-size: 1.14em;
    position: relative;
    bottom: 0.02em;
}


