@import "variables";

#left-container {
  margin-right: 22rem;
  @media screen and (max-width: 75rem) {
    margin-right: 0;
  }
}

main {
  max-width: 38rem;
  margin: 5rem auto;
  @media screen and (max-width: 75rem) {
    margin: 0 auto;
    padding: 1.5rem;
  }
}

// Blockquote
blockquote {
  border-left: 0.3em solid var(--border-color);
  padding-left: 0.7em;
  margin-left: 0;
}

// Various
.author,
.date {
  text-align: center;
  margin: 0;
}

.author a {
  text-decoration: none;
}

.term {
  text-decoration: none;
  border-bottom: 1px dotted #999;
  color: inherit;
}

dfn abbr {
  text-decoration: none;
}

.snippet-path {
  text-align: right;
  font-size: 0.8em;
  color: #999;
  margin: 0;
  padding: 0.2rem 0.5rem;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.snippet pre {
  margin-bottom: 0;
}

// Collapsible details
details {
  background-color: #22272d;
  border-radius: $border-radius;
  margin: 1em 0;

  summary {
    background-color: #2d3846;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: $font-bold;
    font-size: 0.8em;

    text-transform: uppercase;
    padding: 1em;
    span {
      padding-left: 0.5em;
    }
  }
  &[open] summary {
    border-radius: $border-radius $border-radius 0 0;
  }

  .details-content {
    padding: 0em 1em 0.5em;
  }
}

// Callouts
.callout {
  --callout-bg-color: rgba(175, 184, 193, 0.14);
  --callout-content: "";

  margin: 1rem 0;
  padding: 1.5rem;
  padding-top: 1.2rem;
  border-radius: $border-radius;
  background-color: var(--callout-bg-color);
  > *:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: var(--callout-content);
    font-family: $font-bold;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  // Callout styles
  &.note {
    --callout-bg-color: rgba(100, 108, 255, 0.14);
    --callout-content: "Note";
  }
  &.warning {
    --callout-bg-color: rgba(234, 179, 8, 0.14);
    --callout-content: "Warning";
  }
  &.hint {
    --callout-bg-color: rgba(234, 8, 196, 0.14);
    --callout-content: "Hint";
  }
  &.tip {
    --callout-bg-color: rgba(57, 234, 8, 0.14);
    --callout-content: "Tip";
  }
  &.error {
    --callout-bg-color: rgba(234, 76, 8, 0.14);
    --callout-content: "Error";
  }
  &.example {
    --callout-bg-color: rgba(0, 94, 157, 0.14);
    --callout-content: "Example";
  }

  @media screen and (max-width: 75rem) {
    padding: 1rem;
  }

  // Content-only collapse (especially for details)
  &.content-only {
    --callout-content: "";
    padding: 0;
    details {
      background-color: transparent;
      summary {
        background-color: transparent;
      }
    }
  }
}

//*** Printing ***

@media print {
  .toc {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    text-align: justify;
    hyphens: auto;
    color: #000;
  }

  #left-container {
    margin: 0 40px;
  }

  .breadcrumb,
  .updated {
    display: none;
  }

  ul,
  ol {
    padding-left: 2em;
  }

  summary {
    display: none;
  }

  header {
    margin-bottom: 2rem;
  }

  h1:not(.title),
  h2,
  h3 {
    margin-bottom: 0.5em;
  }

  h1:not(.title) {
    text-transform: uppercase;
  }

  code {
    border: none;
    display: inline;
    padding: 0;
    margin: 0;
    text-align: left;
    background: none !important;
  }

  pre code.hljs {
    padding: 0 !important;
    margin: 0.3em 0 !important;
    background: none !important;
    white-space: pre-wrap !important;
  }

  header {
    column-span: all;
    max-width: none;
  }

  main,
  #bibliography {
    max-width: none;
  }

  table tbody tr.odd {
    background: transparent;

    /* default */
  }

  main::before {
    content: "https://sidonie.me/share";
  }
}

@page {
  margin: 1.6cm;
}

/* Table addition */

table {
  max-width: -moz-fit-content;
  max-width: fit-content;
  overflow-x: auto;
  display: block;
  white-space: nowrap;

  /*border-collapse: collapse; /* to show borders */

  /* center */
  /*margin: 0 auto;*/

  td,
  th {
    text-align: left;

    /* by default */
  }

  > {
    thead {
      border-bottom: 2px solid rgba(175, 184, 193, 0.8);
    }

    tbody > tr {
      border-top: 1px solid rgba(175, 184, 193, 0.8);
    }
  }

  tr,
  th {
    padding: 4px 10px;
  }

  td {
    padding: 0 0.5em;
  }

  tr.odd {
    background: rgba(175, 184, 193, 0.05);
  }
}

li {
  margin-bottom: 0.5em;
}

ul,
ol,
p {
  margin: 0.7em 0;
}
